<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Husky Jeopardy!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body class="bg">
    <div id="amazon-root"></div>
    <script type="text/javascript">
      // Load the Amazon SDK, taken from the docs:
      // https://developer.amazon.com/docs/login-with-amazon/install-sdk-javascript.html
      window.onAmazonLoginReady = function() {
        amazon.Login.setClientId('amzn1.application-oa2-client.fa05aae1244646cea1fe24494d3a8a04');
      };
      (function(d) {
        var a = d.createElement('script'); a.type = 'text/javascript';
        a.async = true; a.id = 'amazon-login-sdk';
        a.src = 'https://api-cdn.amazon.com/sdk/login1.js';
        d.getElementById('amazon-root').appendChild(a);
      })(document);
     </script>

    <div>
      <%# render the view  %>
      <%= render @view_module, @view_template, assigns %>
    </div>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
